<html>
<head>
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
</head>
<body>
    <p id="example">AJAX</p>
    <input type="text" id="tag" placeholder="태그">
    <input type="text" id="category" placeholder="카테고리">

    <input type="button" id="create" value="create">
    <input type="button" id="update" value="update">
    <input type="button" id="delete" value="delete">
    
	<table border=1 width="600">
        <thead>
        <td>목차</td>
		<td>이름</td>
		<td>내용</td>
		</thead>
        
    {% for row in rows.items %}
		<tr>
            <td>{{ loop.index }}</td>
			<td>{{ row['title'] }}</td>
			<td>{{ row['video_id'] }}</td>
            <td>{{ row['catagory_id'] }}</td>
		</tr>
	{% endfor %}
	</table>
</body>
</html>
